// Main content area styling

@media only screen and (max-width: 500px) {
  html {
    font-size: 70%;
  }

  #edit {
    top: -3rem;
  }

  #slpls {
    display: none;
  }

  .header-title {
    margin-top: 1rem;
  }

  #nav-toggle:checked~.main-container {
    margin-left: 160px;
    margin-top: 2rem;
    width: calc(100% - 160px);
    min-height: calc(100% - 2rem);
    transition: margin-left 300ms;

    

    .header {
      position: fixed;
      left: 160px;
      width: calc(100% - 160px);
      height: 65px;

      .user-pill {
        margin-top: 0;

        h5,
        h6,
        small {
          color: var(--color-heading);
          margin: 0;
          line-height: .3;
        }
      }
    }
  }

  .main-container {
    margin-left: 0;
    margin-top: 3.4rem;
    width: 100%;
    min-height: calc(100% - 65px);
    transition: margin-left 300ms;

    //  Header
    .header {
      position: fixed;
      width: 100%;
      height: 65px;
      background-color: var(--nav-bar);
      display: flex;
      justify-content: space-between;
      line-height: .4;
      left: 0;
      padding: 1.4rem 1.4rem 1rem 1.4rem;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      z-index: 100;
      transition: left 300ms;
      top: 0;


      .user-pill {
        margin-top: 0;

        h5,
        h6,
        small {
          color: var(--color-heading);
          margin: 0;
          line-height: .3;
        }
      }

      #r-nav {
        display: flex;
        align-items: center;

        .user-wrapper {
          position: relative;
          height: 40px;
          display: flex;
          align-items: center;
          background-color: var(--color-heading);
          padding: .5rem 1rem .5rem .5rem;
          border-radius: 30px;
          margin-top: -0.4rem;

          &:hover,
          &:active {
            background-color: var(--dark-nav-bar);

            img {
              border-radius: 50%;
              margin-right: .7rem;
            }

            h6 {
              margin-bottom: .3rem;
              padding: 0;
              font-size: .7rem;
              color: var(--nav-bar);
            }

            small {
              font-size: .5rem;
              color: var(--nav-bar);
            }
          }

          img {
            border-radius: 50%;
            margin-right: .7rem;
          }

          h6 {
            margin-bottom: .1rem;
            padding: 0;
            font-size: .7rem;
            color: var(--nav-bar);
          }

          small {
            font-size: .5rem;
            color: var(--nav-bar);
          }
        }
      }

    }

    main {
      padding-top: 1.2rem;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      width: 100%;
      min-height: calc(100vh - 67.4px);
      position: relative;
    }

    .card {

      h6,
      h5,
      h4,
      h3,
      h2,
      h1 {
        color: var(--profile-color);
      }

      i {
        color: var(--profile-color);
      }

      p {
        color: var(--profile-color);
        font-weight: 600;
        size: .7rem;
      }
    }

    .edit {
      color: var(--nav-bar);
      position: absolute;
      top: 0;
      right: 1rem;

      i {
        margin-bottom: 1rem;
        color: var(--profile-color);

        &:hover {
          color: var(--accent-color)
        }
      }
    }


    // currency cards
    .dashboard-cards {
      width: 100%;
      position: inherit;

      .card-single {
        margin-left: 0;
        margin-right: 0;

        .card {
          &:hover {

            h6,
            h5,
            h4,
            h3,
            h2,
            h1 {
              color: var(--color-text);
            }

            i {
              background-color: var(--color-heading);
              right: -2.1rem;
              top: -1rem;
              color: var(--color-accent);
            }

          }

          h6,
          h5,
          h4,
          h3,
          h2,
          h1 {
            color: var(--color-heading);

            i {
              color: var(--color-text);
            }
          }
        }

        .head {
          position: inherit;
        }

        i {
          position: absolute;
          font-size: 2.1rem;
          right: -2.1rem;
          top: -1.4rem;
          padding: .6rem;
          background-color: var(--nav-bar);
          border-radius: 50%;
        }

        .currency-detail {
          color: var(--nav-bar);

          small {
            font-size: xx-small;
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 500px) and (max-width: 1900px) {
  #nav-toggle:checked~.main-container {
    margin-left: 270px;
    margin-top: 65px;
    width: calc(100% - 270px);
    min-height: calc(100vh - 67.4px);
    transition: margin-left 300ms;

    .header {
      position: fixed;
      width: calc(100% - 270px);
      height: 65px;
      background-color: var(--nav-bar);
      display: flex;
      justify-content: space-between;
      line-height: .4;
      left: 270px;
      padding: 1.4rem 1.4rem 1rem 1.4rem;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      z-index: 10;
      transition: left 300ms;
      top: 0;

      .user-pill {
        margin-top: 0;

        h5,
        h6,
        small {
          color: var(--color-heading);
          margin: 0;
          line-height: .3;
        }
      }
    }

    main {
      padding-top: 1.2rem;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      width: 100%;
      min-height: calc(100vh - 67.4px);
      position: relative;
    }

    .card {

      h6,
      h5,
      h4,
      h3,
      h2,
      h1 {
        color: var(--profile-color);
      }

      i {
        color: var(--profile-color);
      }

      p {
        color: var(--profile-color);
        font-weight: 600;
        size: .7rem;
      }
    }

    .edit {
      color: var(--nav-bar);
      position: absolute;
      top: 0;
      right: 1rem;

      i {
        margin-bottom: 1rem;
        color: var(--profile-color);

        &:hover {
          color: var(--accent-color)
        }
      }
    }


    // currency cards
    .dashboard-cards {
      width: 100%;
      position: inherit;

      .card-single {
        margin-left: 0;
        margin-right: 0;

        .card {
          &:hover {

            h6,
            h5,
            h4,
            h3,
            h2,
            h1 {
              color: var(--color-text);
            }

            i {
              background-color: var(--color-heading);
              right: -2.1rem;
              top: -1rem;
              color: var(--color-accent);
            }

          }

          h6,
          h5,
          h4,
          h3,
          h2,
          h1 {
            color: var(--color-heading);

            i {
              color: var(--color-text);
            }
          }
        }

        .head {
          position: inherit;
        }

        i {
          position: absolute;
          font-size: 2.1rem;
          right: -2.1rem;
          top: -1.4rem;
          padding: .6rem;
          background-color: var(--nav-bar);
          border-radius: 50%;
        }

        .currency-detail {
          color: var(--nav-bar);

          small {
            font-size: xx-small;
          }
        }
      }
    }

  }

  .main-container {
    margin-left: 80px;
    width: calc(100% - 80px);

    //  Header
    .header {
      position: fixed;
      width: calc(100% - 80px);
      height: 65px;
      background-color: var(--nav-bar);
      display: flex;
      justify-content: space-between;
      line-height: .4;
      left: 80px;
      padding: 1.4rem 1.4rem 1rem 1.4rem;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      z-index: 100;
      transition: left 300ms;
      top: 0;


      .user-pill {
        margin-top: 0;

        h5,
        h6,
        small {
          color: var(--color-heading);
          margin: 0;
          line-height: .3;
        }
      }

      #r-nav {
        display: flex;
        align-items: center;

        .user-wrapper {
          position: relative;
          height: 40px;
          display: flex;
          align-items: center;
          background-color: var(--color-heading);
          padding: .5rem 1rem .5rem .5rem;
          border-radius: 30px;
          margin-top: -0.4rem;

          &:hover,
          &:active {
            background-color: var(--dark-nav-bar);

            img {
              border-radius: 50%;
              margin-right: .7rem;
            }

            h6 {
              margin-bottom: .3rem;
              padding: 0;
              font-size: .7rem;
              color: var(--nav-bar);
            }

            small {
              font-size: .5rem;
              color: var(--nav-bar);
            }
          }

          img {
            border-radius: 50%;
            margin-right: .7rem;
          }

          h6 {
            margin-bottom: .1rem;
            padding: 0;
            font-size: .7rem;
            color: var(--nav-bar);
          }

          small {
            font-size: .5rem;
            color: var(--nav-bar);
          }
        }
      }

    }

    main {
      padding-top: 1.2rem;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      width: 100%;
      min-height: calc(100vh - 67.4px);
      position: relative;
    }

    .card {

      h6,
      h5,
      h4,
      h3,
      h2,
      h1 {
        color: var(--profile-color);
      }

      i {
        color: var(--profile-color);
      }

      p {
        color: var(--profile-color);
        font-weight: 600;
        size: .7rem;
      }
    }

    .edit {
      color: var(--nav-bar);
      position: absolute;
      top: 0;
      right: 1rem;

      i {
        margin-bottom: 1rem;
        color: var(--profile-color);

        &:hover {
          color: var(--accent-color)
        }
      }
    }


    // currency cards
    .dashboard-cards {
      width: 100%;
      position: inherit;

      .card-single {
        margin-left: 0;
        margin-right: 0;

        .card {
          &:hover {

            h6,
            h5,
            h4,
            h3,
            h2,
            h1 {
              color: var(--color-text);
            }

            i {
              background-color: var(--color-heading);
              right: -2.1rem;
              top: -1rem;
              color: var(--color-accent);
            }

          }

          h6,
          h5,
          h4,
          h3,
          h2,
          h1 {
            color: var(--color-heading);

            i {
              color: var(--color-text);
            }
          }
        }

        .head {
          position: inherit;
        }

        i {
          position: absolute;
          font-size: 2.1rem;
          right: -2.1rem;
          top: -1.4rem;
          padding: .6rem;
          background-color: var(--nav-bar);
          border-radius: 50%;
        }

        .currency-detail {
          color: var(--nav-bar);

          small {
            font-size: xx-small;
          }
        }
      }
    }
  }
}

.widget {
  padding: 0 .8rem;
}
