{% load static i18n %}
<!--========== HEADER ==========-->
<header class="header">
  <h5 class="header-title">
    <label for="nav-toggle">
      <i class="las la-bars"></i> <span id="slpls"><a href="{% url 'home' %}">EncryptFinance</a></span>
    </label>
  </h5>
  <div id="r-nav">
    <nav class="mr-3">
      {% if not request.user.is_authenticated%}
      <a href="{% url 'account_login' %}" class="btn btn-login font-weight-bold ">Login</a>
      <a href="{% url 'account_signup' %}" class="btn btn-signup font-weight-bold ">Signup</a>
      {% endif %}

      {% if request.user.is_authenticated%}
      <a href="{% url 'account_logout' %}" class="btn btn-signup font-weight-bold ">Logout</a>
      {% endif %}
    </nav>
    {% if request.user.is_authenticated %}
    <div class="user-wrapper">
      <div class="user-pill">
        <h6>{% if not request.user.get_full_name %}{{request.user.username|capfirst}}{% else %}{{request.user.get_full_name|capfirst}}{% endif %}</h6>
        <!-- <p><small><span><b>PLAN</b></span> {{request.user.plan}}</small></p> -->
      </div>
    </div>
    {% endif %}
  </div>
</header>


